@if (flights().length > 0) {

<div class="card-wrapper">
    @for (f of flights(); track $index){

    <mat-card class="flight-card">
        <img mat-card-image [src]="utils.getImageUrl(f)" [alt]="f.destination">
        <mat-card-content>
            <h3>{{f.destination}} </h3>
            <h3>{{utils.formatDate(f.scheduledAt)}} </h3>

        </mat-card-content>
        <mat-card-actions>

            <a [routerLink]="['/details', f.id]" matButton>
                <mat-icon fontIcon="description" />details
            </a>

            @if (authService.getActiveUser()) {
            <a [routerLink]="`/details/${f.id}/booking`" matButton>
                <mat-icon fontIcon="airplane_ticket" /> book now
            </a>
            }

        </mat-card-actions>
    </mat-card>
    }

</div>

}
@else {
    <app-loading />
}